.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

head{
    width: 1197px;
    height: 353px;
    border-radius: 1197px;
    background: #DEC4D7;
}
.foto-container {
    display: flex;
    align-items: center;
    justify-content: center;
    size: 0px;
    padding-top: 20px;
    padding-bottom: 90px;
  
}


body{
    background: linear-gradient(174deg, #D384CE -18.62%, #7F3D7A 60%, #5D2159 82.07%);
    background-attachment: fixed; /* serve para manter o background fixo mesmo com o scroll */
}


h1 {
    font-size: 40px;
    background: -webkit-linear-gradient( #D384CE -80.62%, #7F3D7A 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    margin: 40px;
    font-family: "Press Start 2P";
    background-color: rgb(246, 219, 247);
    text-align: center;
    gap: 10px;
    color: rgb(57, 9, 69);
    padding: 90px;
  
}

h2 {
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    margin: 4px;
    font-family: "Press Start 2P";

    text-align: left;
    gap: 10px;
    color: rgb(57, 9, 69);
    padding: 30px;
}

.p-fonte{
    font-family: "Pinyon Script", cursive;
    color: rgb(57, 9, 69);
    font-size: 90px;
}

p{
    font-size: 20px;
    padding: 30px;
    font-family: "Press Start 2P";
    color: rgb(57, 9, 69);
    font-size: 20px;
    padding: 90px;
    background: -webkit-linear-gradient( #D384CE 62%, #7F3D7A 38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}


nav{
    display: flex;
    justify-content: center;
    gap: 200px;
    font-family: "Press Start 2P";
    color: rgb(57, 9, 69);
    font-size: 20px;
    padding: 90px;
    background: -webkit-linear-gradient( #D384CE 62%, #7F3D7A 38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.decoracao-topo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -59px;
    width: 100%;
    height: 200px;
    padding-bottom: 300px;
}

.decoracao-rodape{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    
}
