body{
    background-color: rgb(236, 220, 249);
}

.menu{
    margin: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    background-color: rgb(246, 219, 247);
    text-align: center;
    gap: 10px;
    color: rgb(57, 9, 69);
    border-radius: 10px;
}

